<h2>Hall of Famers</h2>
<ul class="players">
    <li *ngFor="let player of players" (click)="onSelect(player)"
      [class.selected]="player === selectedPlayer"
      (click)="onSelect(player)">
        <span class="badge">{{player.number}}</span>
        {{player.name}} 
  </li>
</ul>

<div *ngIf="selectedPlayer">

  <h2>{{selectedPlayer.name | uppercase}} Details</h2>
  <div><span>Jersey Number: </span>{{selectedPlayer.number}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPlayer.name" placeholder="Name"/>
    </label>
    <br><label>PPG:
      <input [(ngModel)]="selectedPlayer.PPG" placeholder="PPG"/>
    </label>
    <br><label>RPG:
      <input [(ngModel)]="selectedPlayer.RPG" placeholder="RPG"/>
    </label>
    <br><label>APG:
      <input [(ngModel)]="selectedPlayer.APG" placeholder="APG"/>
    </label>
  </div>

</div>